{% extends "base.html" %}

{% block title %}Дякуємо!{% endblock %}

{% block content %}
<div class="py-5 text-center">
    <i class="bi bi-check-circle-fill text-success" style="font-size: 5rem;"></i>
    <h1 class="display-5 fw-bold mt-3">Дякуємо за замовлення!</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Ваше замовлення <strong>№{{ order.id }}</strong> успішно створено. Наш менеджер зв'яжеться
            з вами найближчим часом для підтвердження деталей доставки.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{% url 'store:product_list' %}" class="btn btn-primary btn-lg px-4 gap-3">Повернутися до
                магазину</a>
            <a href="{% url 'users:profile' %}" class="btn btn-outline-secondary btn-lg px-4">Переглянути замовлення</a>
        </div>
    </div>
</div>
{% endblock %}